<div id="map"></div>
<div id="right-panel">
  <div>
    <select id="start">
      <% @bus_stops.each do |bus_stop| %>
      <option value="<%= bus_stop.latitude%>, <%= bus_stop.longitude%>"><%= bus_stop.name%></option>
      <% end %>
    </select>
    <br>
    <b>Waypoints:</b> <br>
    <i>(Ctrl+Click or Cmd+Click for multiple selection)</i> <br>
    <select multiple id="waypoints">
      <% @bus_stops.each do |bus_stop| %>
      <option value="<%= bus_stop.latitude%>, <%= bus_stop.longitude%>"><%= bus_stop.name%></option>
      <% end %>
    </select>
    <br>
    <b>End:</b>
    <select id="end">
      <% @bus_stops.each do |bus_stop| %>
      <option value="<%= bus_stop.latitude%>, <%= bus_stop.longitude%>"><%= bus_stop.name%></option>
      <% end %>
    </select>
    
  </div>
  <div id="directions-panel"></div>
</div>
<script>
  function initMap() {
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer;
    var kigali = {lat: -1.9505507, lng: 30.0601793};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: kigali
    });
    var marker = new google.maps.Marker({
      position: kigali,
      map: map
    });
    directionsDisplay.setMap(map);

    var onChangeHandler = function() {
      calculateAndDisplayRoute(directionsService, directionsDisplay);
    };
    document.getElementById('start').addEventListener('change', onChangeHandler);
    document.getElementById('end').addEventListener('change', onChangeHandler);
  }

  function calculateAndDisplayRoute(directionsService, directionsDisplay) {
    directionsService.route({
      origin: document.getElementById('start').value,
      destination: document.getElementById('end').value,
      travelMode: 'DRIVING'
    }, function(response, status) {
      if (status === 'OK') {
        directionsDisplay.setDirections(response);
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFb_SoEoNeU_C1Sq_KKX2RcF0UWcrU1ek&callback=initMap">
</script>

<div class="show-section">
  <div class="row">
    <div class="col-md-10">
      <h1> Bus Routes </h1>
      <h2> From <%= @bus_route.name %></h2>
      <h3> <%= @bus_route.description %></h3>
      <button class="btn btn-success"><a href="<%= @bus_route.id %>/edit">Edit</a></button>
      <button class="btn btn-info"><a href="/bus_routes">Cancel</a></button>
      <%= button_to "Delete", "/bus_routes/#{@bus_route.id}", method: :delete %>
      </div>
  </div>
</div>

