<h1>Bus Stops and Terminals</h1>

<%= render 'layouts/map' %>

<div class="container">
  <div class="col-md-4">
    <input type="text" class="form-control" placeholder="Departure" name="stop_address">
    <input type="text" class="form-control" placeholder="Arrival" name="stop_address">
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
<%= button_to "Add a Bus Stop", "/bus_stops/new", class: "btn btn-primary", method: :get %> </br>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Bus Stop Address</th>
      <th>Latitude</th> 
      <th>Longitude</th>
      <th>Stop Order</th> 
    </tr>
    <% @bus_stops.each do |bus_stop| %>
    <tr>
      <td><a href="/bus_stops/<%= bus_stop.id %>"><%= bus_stop.name %></td>
      <td><%= bus_stop.address %></td>
      <td><%= bus_stop.latitude %></td> 
      <td><%= bus_stop.longitude %></td>
      <td><%= bus_stop.stop_order %></td>
    </tr>
    <% end %>
  </table>
</div>
