<!DOCTYPE html>
<html>
<head>
  <title>KGL Bus Systems Simulator</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body>
  <div class="container">
    <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong><%= message %></strong>
    </div>
    <% end %>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">About <span class="sr-only">(current)</span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our services <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Rentals</a></li>
              <li><a href="#">Tickets Bookings</a></li>
              <li><a href="#">Kigali Tour</a></li>
              <li><a href="#">Private Cubs</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Companies <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/companies/1">KBS</a></li>
              <li><a href="/companies/2">Royal Express</a></li>
              <li><a href="/companies/3">RFTC</a></li>
              <li><a href="/companies/4">RITCO Ltd</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/companies">All Companies</a></li>
            </ul>
          </li>
          <li><a href="/bus_routes">Bus Routes</a></li>
          <li><a href="/bus_stops">Bus Stops</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Timetable <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="http://www.kigalibusservices.com/Files/Routes/Bus%20Routes%20Zone%201.pdf">KBS</a></li>
              <li><a href="#">Royal Express</a></li>
              <li><a href="#">RFTC</a></li>
              <li><a href="#">RITCO Ltd</a></li>
            </ul>
          </li>
        </ul>
        <%= form_tag "/search", class: "navbar-form navbar-left", method: :post do %>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="search_input">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <% end %>
        <ul class="nav navbar-nav">
          <li><a href="#">Contact US</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
          <li><%= link_to "Logout", "/logout", method: :delete %></li>
          <% else %>
          <li><%= link_to "Sign Up", "/signup" %></li>
          <li><%= link_to "Login", "/login" %></li>
          <% end %>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <%= render "layouts/header" %>
  <%= yield %>
  <footer>
    <div class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <p style="float: center; font-size: 22px; color:  #000000;">No more staying to long queu. Bus Systems Simulator, the solution you've been looking for</p>
            <h4 style="color:  #000000;">Trip to our office</h4>
            <address>
              Kigali, Rwanda, KG 11 Av 183
            </address>
          </div>
        </div>
        <div class="container-fluid"></div>
        <div class="bottom-footer">
          <div class="row text-center">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <ul class="menu list-inline">       
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="#">About</a>
                </li>
                <li>
                  <a href="#">Blog</a>
                </li>
                <li>
                 <a href="#">Gallery</a>
               </li>
<<<<<<< HEAD
              <li> Contact us on
=======
              <li> Follow us on
>>>>>>> ef272d45347ea5dad5430b6094ab5e156b76408a
                <a target="blank" href="https://www.facebook.com/HabyaraA"><i class="fa fa-facebook fa-2x"></i></a>
              </li>
              <li>
                <a target="blank" ref="https://twitter.com/HabyaraA"><i class="fa fa-twitter fa-2x"></i></a>
              </li>
              <li>
                <a target="blank" href="https://www.instagram.com/habyaraa/"><i class="fa fa-instagram fa-2x"></i></a>
              </li>
              <li>
                <a target="blank" href="https://www.linkedin.com/in/alphonse-habyarimana-a7a10888/"><i class="fa fa-linkedin fa-2x"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-md-5">© Copyright Bus Systems Simulator <%= Time.now.year %></div>
        </div>
      </footer>
    </body>
    </html>
